{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-0",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["babel-plugin-rewire"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}